@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@100;200;300;400;500;600;800&display=swap");

body {
  font-family: "Podkova", serif;
  background: rgba(187, 66, 66, 0.3);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: hidden;
}

@keyframes animate {
  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.container::before {
  content: "";
  width: 400px;
  height: 400px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  position: absolute;
  bottom: 65%;
  left: 55%;
  border-radius: 50%;
}

.container::after {
  content: "";
  width: 350px;
  height: 350px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  position: absolute;
  bottom: -6%;
  left: 18%;
  border-radius: 50%;
  z-index: -1;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(7px);
}

.batteryShape {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}

.battery-border {
  border: 3px solid black;
  width: 180px;
  height: 80px;
  border-radius: 10px;
  position: relative;
}

.battery-border::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  top: 30px;
  right: -10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.battery-color {
  position: absolute;
  background-color: #fff;
  width: 60%;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 5px;
  z-index: -1;
}

.battery-color.active {
  background: rgba(133, 247, 19, 0.938);
}

.battery-bolt {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  z-index: 2;
}

.hidden {
  display: none;
}

.battery-foyiz {
  font-size: 25px;
  margin-top: 15px;
}

.isCharging {
  font-size: 25px;
  letter-spacing: 1px;
  animation: animate 2s ease-in-out infinite;
}

@media (max-width: 768px) {
  .container::before {
    width: 350px;
    height: 320px;
    bottom: 65%;
    left: 5%;
  }

  .container::after {
    bottom: -6%;
    left: 2%;
  }

  .card {
    width: 300px;
    height: 350px;
  }
}
